
<h1><a style="color: white; text-decoration: none" href="/campaigns/<%=@campaign.slug%>/bulk_create_decisions"><%=@campaign.name%>: create decisions</a></h1>

<% form_tag "/campaigns/#{@campaign.slug}/bulk_create_decisions", :method => :get do %>
  <div class="form-group">
    <%= text_field_tag :name, :class => 'form-control', :placeholder => 'Name', :value => params[:name] %>
  </div>
  <div class="form-group">
    <%= select_tag :party_id, :class => 'form-control', :options => [['All parties','']] + Party.order('name asc').map { |party| [party.name, party.id] }, :selected => params[:party_id] %>
  </div>
  <div class="form-group">
    <%= text_field_tag :constituency, :class => 'form-control', :placeholder => 'Constituency', :value => params[:constituency] %>
  </div>
  <div class="form-group">
    <label><%= check_box_tag :email, :value => 1, :checked => params[:email] %> Has email</label>
  </div>
  <div class="form-group">
    <label><%= check_box_tag :twitter, :value => 1, :checked => params[:twitter] %> Has Twitter</label>
  </div>
  <div class="form-group">
    <button class="btn btn-default" name="search" value="1">Search</button>
  </div>
<% end %>

<% if @representatives %>
  <p><%= pluralize(@representatives.count, 'representative') %></p>
  <a id="create-decisions" class="btn btn-primary" href="javascript:;" onclick="$('.create-decision').click()">Create decisions for these representatives</a>
  <table class="table" data-sortlist="[[5,0],[0,0]]" style="font-size: 12px">
    <thead>
      <tr>
        <th>Name</th>
        <th>Constituency</th>
        <th>Party</th>        
        <th>Email</th>
        <th>Twitter</th>
        <th>Decision</th>
      </tr>
    </thead>
    <% @representatives.each { |representative| %>
      <tr>
        <td><%=representative.name%></td>
        <td><%=representative.constituency.try(:name)%></td>
        <td><%=representative.party.try(:name)%></td>
        <td><%=representative.email%></td>
        <td><%=representative.twitter%></td>
        <td>
          <% if @campaign.decisions.find_by(representative: representative) %>
            <a class="btn btn-default btn-sm disabled" href="javascript:;" data-representative-id="<%=representative.id%>">            
              <i class="fa fa-check"></i>
            </a>
          <% else %>
            <a class="btn btn-default btn-sm create-decision" href="javascript:;" data-representative-id="<%=representative.id%>">            
              <i class="fa fa-plus"></i>
            </a>
          <% end %>
        </td>
      </tr>
    <% } %> 
  </table>
<% end %>

<script>
  $(function () {

    $('table').tablesorter({
      textExtraction: {
        5: function (node, table, cellIndex) {
          return $(node).find("i").attr('class');
        }
      }
    })


    var ajaxQueue = $({});
    $.ajaxQueue = function (ajaxOpts) {
      var oldComplete = ajaxOpts.complete;
      ajaxQueue.queue(function (next) {
        ajaxOpts.complete = function () {
          if (oldComplete) {
            oldComplete.apply(this, arguments);
          }
          next();
        };
        $.ajax(ajaxOpts);
      });
    };

    var i = 0;
    $('.create-decision').click(function () {
      var a = this;
      $.ajaxQueue({
        url: '/campaigns/<%=@campaign.slug%>/create_decisions/' + $(a).attr('data-representative-id'),
        type: 'POST',
        success: function (data) {
          i++;
          $(a).removeClass('create-decision').addClass('disabled').html('<i class=\'fa fa-check\'></i>')
          $('#create-decisions').text($('.create-decision').length + ' remaining')
          if ($('.create-decision').length == 0)
            $('#create-decisions').text('Done!')
        },
        error: function (data) {
          $(a).html('<i class=\'fa fa-exclamation\'></i>')
        }
      });
    });

    if ($('.create-decision').length == 0)
      $('#create-decisions').text('Done!')

  })
</script>
