
<h1><a style="color: white; text-decoration: none" href="/campaigns/<%=@campaign.slug%>/bulk_create_decisions"><%=@campaign.name%>: create decisions</a></h1>

<% form_tag "/campaigns/#{@campaign.slug}/bulk_create_decisions", :method => :get do %>
  <div class="form-group">
    <%= text_field_tag :name, :class => 'form-control', :placeholder => 'Name', :value => params[:name] %>
  </div>
  <div class="form-group">
    <%= select_tag :party_id, :class => 'form-control', :options => [['Select a party','']] + Party.all.map { |party| [party.name, party.id] }, :selected => params[:party_id] %>
  </div>
  <div class="form-group">
    <%= text_field_tag :constituency, :class => 'form-control', :placeholder => 'Constituency', :value => params[:constituency] %>
  </div>
  <div class="form-group">
    <%= select_tag :type, :class => 'form-control', :options => Target.pluck(:type).uniq, :selected => params[:type] %>
  </div>
  <div class="form-group">
    <button class="btn btn-default" name="search" value="1">Search</button>
  </div>
<% end %>

<% if @targets %>
  <p><%= pluralize(@targets.count, 'target') %></p>
  <a class="btn btn-primary" href="javascript:;" onclick="$('.create-decision').click()">Create decisions for these targets</a>
  <table class="table" data-sortlist="[[4,0],[0,0]]">
    <thead>
      <tr>
        <th>Name</th>
        <th>Party</th>
        <th>Constituency</th>
        <th>Type</th>
        <th>Decision</th>
      </tr>
    </thead>
    <% @targets.each { |target| %>
      <tr>
        <td><%=target.name%></td>
        <td><%=target.party.try(:name)%></td>
        <td><%=target.constituency.try(:name)%></td>
        <td><%=target.type%></td>        
        <td>
          <% if @campaign.decisions.find_by(target: target) %>
            <a class="btn btn-default btn-sm disabled" href="javascript:;" data-target-id="<%=target.id%>">            
              <i class="fa fa-check"></i>
            </a>
          <% else %>
            <a class="btn btn-default btn-sm create-decision" href="javascript:;" data-target-id="<%=target.id%>">            
              <i class="fa fa-plus"></i>
            </a>
          <% end %>
        </td>
      </tr>
    <% } %> 
  </table>
<% end %>

<script>
  $(function () {

    $('table').tablesorter({
      textExtraction: {
        4: function (node, table, cellIndex) {
          return $(node).find("i").attr('class');
        }
      }
    })


    var ajaxQueue = $({});
    $.ajaxQueue = function (ajaxOpts) {
      var oldComplete = ajaxOpts.complete;
      ajaxQueue.queue(function (next) {
        ajaxOpts.complete = function () {
          if (oldComplete) {
            oldComplete.apply(this, arguments);
          }
          next();
        };
        $.ajax(ajaxOpts);
      });
    };

    $('.create-decision').click(function () {
      var a = this;
      $.ajaxQueue({
        url: '/campaigns/<%=@campaign.slug%>/create_decisions/' + $(a).attr('data-target-id'),
        type: 'POST',
        success: function (data) {
          $(a).removeClass('create-decision').addClass('disabled').html('<i class=\'fa fa-check\'></i>')
        },
        error: function (data) {
          $(a).html('<i class=\'fa fa-exclamation\'></i>')
        }
      });
    });

  })
</script>
