<h1>Email <%=@representative.name%> <% if @campaign.display_representative_type %><small><%=@representative.type%></small><% end%></h1>

<div class="row" style="margin-top: 20px">
  <div class="col-sm-4 col-sm-push-8" style="margin-bottom: 20px">
    <%=@campaign.email_advice%>
  </div>            
  <div class="col-sm-8 col-sm-pull-4">
    <% form_for @email, "/campaigns/#{@campaign.slug}/#{@decision.id}/email" do |f| %>
      <p>Email subject line (please customise):</p> 
      <%= f.text_block :subject, :div_class => '', :label_class => '' %>
      <p>Dear <%=@decision.representative.address_as || @decision.representative.name%>,</p>    
      <div style="background: white;">
        <%= f.wysiwyg_block :body, :div_class => '', :label_class => '' %>
      </div>
      <p>Yours sincerely,</p>    
      <%= f.text_block :from_name, :div_class => '', :label_class => '', :placeholder => Email.human_attribute_name(:from_name) %>
      <%= f.email_block :from_email, :div_class => '', :label_class => '', :placeholder => Email.human_attribute_name(:from_email) %>
      <%= f.text_block :from_address1, :div_class => '', :label_class => '', :placeholder => Email.human_attribute_name(:from_address1) %>
      <%= f.text_block :from_city, :div_class => '', :label_class => '', :placeholder => Email.human_attribute_name(:from_city) %>
      <%= f.text_block :from_postcode, :div_class => '', :label_class => '', :placeholder => Email.human_attribute_name(:from_postcode) %>
      <%= f.submit_block button_text: 'Send', :div_class => '' %>
    <% end %>
  </div>
</div>