<ul class="fa-ul">
  <li><i title="Number of emails sent" class="fa fa-li fa-envelope"></i> <%=@campaign.emails.count%></li>
  <li><i title="Number of tweets sent" class="fa fa-li fa-twitter"></i> <%=@campaign.tweets.count%></li>
  <li><i title="Number of representatives contacted" class="fa fa-li fa-user"></i> <%=@campaign.contacted_decisions.count%>/<%=@campaign.decisions.count%> (<%=100*(@campaign.contacted_decisions.count.to_f/@campaign.decisions.count).round%>&percnt;)</li>
</ul>

<% form_tag '', :method => :get do %>
  <%= text_field_tag :q, :placeholder => 'Search representatives', :class => 'form-control', :style => 'display: inline-block; width: auto', :value => params[:q] %>
<% end %>

<% if params[:q] %>

  <table class="table" data-sortlist="[[3,1],[0,0]]" style="font-size: 12px">
    <thead>
      <tr>
        <th>Name</th>        
        <th>Constituency</th>
        <th>Party</th>
        <th>Emails</th>
        <th>Tweets</th>
      </tr>
    </thead>
    <% @campaign.decisions.where(:representative_id.in => Representative.where(name: /#{Regexp.escape(params[:q])}/i).pluck(:id)).each { |decision| representative = decision.representative %>
      <tr>
        <td><%=representative.name%></td>
        <td><%=representative.constituency.try(:name)%></td>      
        <td><%=representative.party.try(:name)%></td>
        <td><%=representative.emails_for(@campaign).count%></td>
        <td><%=representative.tweets_for(@campaign).count%></td>    
      </tr>
    <% } %>
  </table>
  
  <script>
    $(function () {
      $('table').tablesorter({})
    });
  </script>

<% end %>