<h1><%=@campaign.name%></h1>

<p style="font-weight: bold">Total emails: <%=@campaign.emails.count%></p>
<p style="font-weight: bold">Total tweets: <%=@campaign.tweets.count%></p>
<p style="font-weight: bold">Number of representatives contacted: <%=@campaign.contacted_decisions.count%></p>

<table class="table" data-sortlist="[[4,1],[0,0]]" style="font-size: 12px">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>        
      <th>Party</th>
      <th>Constituency</th>      
      <th>Emails</th>
      <th>Tweets</th>
    </tr>
  </thead>
  <% @campaign.decisions.each { |decision| representative = decision.representative %>
    <tr>
      <td><%=representative.name%></td>
      <td><%=representative.type%></td>        
      <td><%=representative.party.try(:name)%></td>
      <td><%=representative.constituency.try(:name)%></td>      
      <td><%=decision.emails.count%></td>
      <td><%=decision.tweets.count%></td>    
    </tr>
  <% } %>
</table>


<script>
  $(function () {

    $('table').tablesorter({})

  });

</script>
