<%= partial :'campaigns/action_header' %>

<div class="row" style="margin-top: 20px">
  <div class="col-sm-6 col-sm-push-6" style="margin-bottom: 20px">
    <%=@campaign.tweet_advice%>
  </div>            
  <div class="col-sm-6 col-sm-pull-6">                      
    <% form_for @tweet, "/campaigns/#{@campaign.slug}/tweet", :onsubmit => "window.open('http://twitter.com/intent/tweet?text='+encodeURIComponent($('#tweet_body').val()), null, 'scrollbars=yes,width=600,height=600,left=150,top=150').focus();" do |f| %>
      <% @relevant_decisions.each { |decision| %>
        <%= hidden_field_tag :'representative_ids[]', :value => decision.representative_id %>
      <% } %>    
      <%= f.text_area_block :body, :div_class => '', :label_class => '' %>
      <%= f.text_block :from_name, :div_class => '', :label_class => '', :placeholder => Email.human_attribute_name(:from_name) %>
      <%= f.email_block :from_email, :div_class => '', :label_class => '', :placeholder => Email.human_attribute_name(:from_email) %>
      <%= f.text_block :from_address1, :div_class => '', :label_class => '', :placeholder => Email.human_attribute_name(:from_address1) %>
      <%= f.text_block :from_postcode, :div_class => '', :label_class => '', :placeholder => Email.human_attribute_name(:from_postcode) %>
      <div>
        <button class="btn btn-primary">Tweet</button>
        <a class="btn btn-default" href="/campaigns/<%=@campaign.slug%>/next_action/tweet?postcode=<%=params[:postcode]%>">Skip</a>
      </div>
    <% end %>
  </div>
</div>  

<script>
  $(function () {
    $('#tweet_from_name, #tweet_from_email, #tweet_from_address1, #tweet_from_postcode').each(function () {
      if ($(this).val().length > 0)
        $(this).hide()
    })
  })
</script>  